#main {
  font-family: sans-serif;
  background-color: #e4e4e4;
  border-radius: 5px;
  margin-bottom: 30px;
}

#title {
  text-align: center;
}

li {
  padding-top: 10px
}

h1 {
  padding-top: 20px;
}

h2 {
  padding-left: 30px;
  font-size: 20px;
}

#img-caption {
  text-align: center;
}

#tribute-info {
  width: 50%;
  margin: auto;
  text-align: left;
}

#img-div {
  background-color: white;
  padding-bottom: 10px;
}

img {
  margin: auto;
  max-width: 100%;
  display: block;
  height: auto;
}

#bio-list {
  /* text-align: left; */
}

#quote {
  max-width: 85%;
  margin: auto;
  text-align: center;
}
#additional-div {
  text-align: center;
  padding-bottom: 15px;
}

#additional {
  font-size: 18px;
  /* font-weight: 500; */
}

#tribute-link {

}
