#main {
  font-family: sans-serif;
  background-color: #e4e4e4;
  border-radius: 5px;
}

#title {
  align-items: center;
}

h1 {
  align-self: center;
}

h2 {

}

#biography {
  
}

#img-div {
  background-color: white;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

#tribute-info {

}

#additional-info {

}

#tribute-link {

}
